body{
  font-family: 'STIX Two Text', serif;
}

nav{
  top: 110px;
  right: 0px;
}

nav li{
  display: inline;
  margin: 0 0 0 15px;
}

nav li a{
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  transition: 400ms;
}

header{
  margin: 0 0 0 140px;
  width: 1000px;
  text-align: center;
  background-color: rgb(174, 53, 211);
}

.imagem{
  width: 50%;
  border: solid 20px rgb(255, 0, 242);
  
}


nav{
  top: 110px;
  right: 0px;
}

nav li{
  display: inline;
  margin: 0 0 0 15px;
}

nav li a{
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  transition: 400ms;
}

.cliente{
  text-align: center;
}

.tabela{
  text-align: center;
}


.roda-pe{
  text-align: center;
  margin: 15px;
}

table{
  text-align: center;
  margin: 30px auto;
  background-color: rgb(174, 53, 211);
  margin: 40 40 140 140px;
}

.video{
  text-align: center;
  margin: 100px auto;
  }
  
 